<!DOCTYPE html>
<html>
  <%-include('./partials/head.ejs')%>
  <body>
    <div class="section">
      <h1>Welcome to Your To-Do List App</h1>
      <a class="button" href="/add">Add New Task</a>
      <a class="button" href="/todo-list">View To-Do List</a>
    </div>
  </body>
</html>